body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.dashboard {
  width: max(20vw, 200px);
  grid-area: 1 / 1 / 7 / 2;
  background-color: dodgerblue;
}

.logo {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.main-nav {
  margin-bottom: 50px;
}

.header {
  grid-area: 1 / 2 / 2 / 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 20px 0px;
  place-items: center;
}

.input {
  width: 800px;
  background-color: #f0f0f0;
  border-radius: 20px;
  border-style: none;
}

.search {
  height: 30px;
  display: flex;
  gap: 20px;
  justify-self: left;
}
.login-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 30px;
}

.user-info {
  display: flex;
  gap: 30px;
  justify-self: left;
}

.avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.avatar-small {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.buttons {
  justify-self: left;
}

button {
  background-color: deepskyblue;
  display: flex;
  align-items: center;
  border-style: none;
  width: 100px;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  color: white;
  margin: 40px;
}

li {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.main-content {
  grid-area: 2 /2 / 7 /4;
}

.side-container {
  grid-area: 4 / 4 / 6;
}

.icon {
  height: 30px;
  width: auto;
}

.icon-card {
  height: 20px;
  width: auto;
}

.projects-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 30px 0px;
}

.project-card {
  width: 80%;
  height: 200px;
  padding: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-left: 5px solid orange;
}

.icons-nav {
  display: flex;
  padding-top: 15px;
  justify-content: flex-end;
  gap: 15px;
}
